<!DOCTYPE html>
<html lang="en" ng-app="gemStore">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q"
    crossorigin="anonymous">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="container">
    <div ng-controller="MoviesController as movies">
      <div class="likes">
        <p>
          Alexis's like list
        </p>
        <ul>
          <li ng-repeat="like in movies.likesList">
            <p>{{ like.title }}</p>
            <a href="" ng-click="movies.unlike($index);">
              Unlike!
            </a>
          </li>
        </ul>
      </div>
      <ul>
        <li ng-repeat="movie in movies.favorites">
          <p>
            {{ movie.title }}
          </p>
          <a href="" ng-click="movies.addToLikes(movie);">
            Like this movie
          </a>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>