<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="todo" ng-controller="TodoController as todos">
    <ul class="todo__list">
      <li ng-repeat="todo in todos.list">
        <input id="todo-{{$index}}" type="checkbox" ng-model="todo.completed">
        <label class="toggle" for="todo-{{$index}}"></label>
        <p>{{todo.title}}</p>
      </li>
    </ul>
  </div>
</body>

</html>